@media only screen and (max-width: 600px) {
    header {
        margin-bottom: 3rem;
    }
    img {
        width: 100%;
        height: 50rem;
        visibility: hidden;
    }
    .signup-image{
        display: none;
    }
    .signup {
        width: 100%;
    }
 .signup-form {
    padding: 2rem;
    width: 100%;
}
  }